<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" throwExceptions="false">
  <extensions>
    <add assembly="NLog.Extended" />
  </extensions>
  <variable name="logDirectory" value="${basedir}/Logs/" />

  <targets async="true" queueLimit="5000" overflowAction="Discard" >
    <target name="default"  xsi:type="File"
            layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
            fileName="${logDirectory}/${date:format=yyyy-MM-dd}-webapi.log"
            archiveFileName="${basedir}/App_Data/Arxive_${shortdate}.{##}.log"
            keepFileOpen="false"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="30"
            encoding="UTF-8"
          />
    <target name="eventlog"
              xsi:type="EventLog"
              source="${logDirectory}"
              layout="${message}${newline}${exception:format=ToString}" />
    <target name="trace"
            xsi:type="Trace"
            layout="${newline}${asp-request:cookie=String:serverVariable=String:queryString=String:item=String:form=String}" />
  </targets>
  <rules>
    <logger name="*" writeTo="default" minlevel="Info" />
    <logger name="*" writeTo="eventlog" minlevel="Error" />
    <logger name="*" writeTo="trace" minlevel="Warn" />
  </rules>
</nlog>
